body{
	background: #004D24;
}
.container{
	background: #006135;
	padding:0 70px 70px 70px;
}

/*页头部分开始*/
.header{
	height: 270px;
	background: url(../img/logo.png) 55px 100px no-repeat;
	position: relative;
}
.navbar-form{
	position: absolute;
	right: 10px;
	top: 60%;
}
.header .nav{
	position: absolute;
	right: 0;
	top: 33%;
	float: left;
}
.nav-tabs,.nav-tabs>li>a{
	border:0;
}

.nav li a{
	font-family: "Utsaah";
	font-size: 30px;
	color: #B4AC2C;
	margin: 0 10px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a,.nav li>a:hover{
	background: #017C43;
	color: #FFC400;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a,.nav li>a:visited{
	background: #017C43;
	color: #FFC400;
}
.dropdown-menu{
	background: #017C43;
}
.dropdown-menu>li>a{
	font-size: 20px;
}
/*页头部分结束*/

/*轮播部分开始*/
.carousel-indicators li,.carousel-indicators .active{
	width: 15px;
	height: 15px;
	margin: 5px;
	border:none;
}
.carousel-indicators .active{
	background: #B8B8B8;
}
.carousel-indicators li{
	background: #969696;
}
/*轮播部分结束*/

/*栅格部分开始*/


.left-content{
	padding: 10px 0;
}
.row .col-md-8 h3{
	color: white;
	font-family: "CovingtonSC";
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
}
/*栅格部分结束*/